:root {
    /** Primary - Indigo Moderno **/
    --ion-color-primary: #4f46e5;
    --ion-color-primary-rgb: 79, 70, 229;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #463ec9;
    --ion-color-primary-tint: #6159e8;

    /** Secondary - Sky Blue **/
    --ion-color-secondary: #0ea5e9;
    --ion-color-secondary-rgb: 14, 165, 233;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #0d91ce;
    --ion-color-secondary-tint: #26aef0;

    /** Success - Stock Disponible **/
    --ion-color-success: #10b981;
    --ion-color-success-contrast: #ffffff;

    /** Danger - Stock Bajo / Eliminar **/
    --ion-color-danger: #ef4444;
    --ion-color-danger-contrast: #ffffff;

    /** Backgrounds de la App **/
    --ion-background-color: #f9fafb;
    --ion-item-background: #ffffff;

    /* Color del texto por defecto */
    --ion-text-color: #111827;
}