.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-logo {
    width: 150px;
    height: 150px;
    content-visibility: auto;
}

@keyframes pulse {
    0% {
        transform: scale(0.9);
        opacity: 0.7;
    }

    50% {
        transform: scale(1.1);
        opacity: 1;
    }

    100% {
        transform: scale(0.9);
        opacity: 0.7;
    }
}